{% extends 'users/base.html' %}


{% block head %}
	
	<style type="text/css">


		.row-fluid {
			margin-bottom: 12%;
		}

		


	</style>
		
	


{% endblock %}




{% block content %}
	
	{% if message %}
  		<div class="alert alert-success" role="alert">
    		{{ message }}
  		</div>
  	{% endif %}

	

	<div class="container">

	<h1>Buy</h1>

		<hr style="margin-top: 0%">

		<div class="row" >
			
			{% for c in collist %}

				<div class="col" >
					
					
					{% for item in c %}
						<div class= "row-fluid">

								


							<!--Card-->
							<div class="card card-cascade card-ecommerce">

							  <!--Card image-->
							  <div class="view view-cascade overlay">
							    <img class="card-img-top" src="{{ item.image.url }}" 	alt="Card-Image">
							    <a>
							      <div class="mask rgba-white-slight"></div>
							    </a>
							  </div>
							  <!--/.Card image-->

							  <!--Card content-->
							  <div class="card-body card-body-cascade text-center">
							    <!--Category & Title-->
							    
							    <h4 class="card-title"><strong>{{item.title}}</strong></h4>

							    <!--Description-->
							    <p class="card-text"> {{ item.description }}
							    </p>

							    <!--Card footer-->
							    <div class="card-footer" style="background-color: white;">
							      <span class="float-left"><b>₹{{item.price}}</b></span>
							      <span class="float-right">

							      	<form method="post" action="{% url 'viewitem' item.id %}">
								   		{% csrf_token %}
								   		<input type="submit" value="View">
								   	</form>

									
							      </span>
							    </div>

							  </div>
							  <!--/.Card content-->

							</div>
							<!--/.Card-->

						</div>
					{% endfor %}	
					

				</div>


			{% endfor %}

		</div>
	

	</div>

{% endblock %}