{% extends 'users/base.html' %}

{% block content %}

<div class="container">

	

	{% if error %}
	{{ error }}
	{% endif %}



<form action = "{% url 'register' %}" method="post" >
	
	{% csrf_token %}

	<!-- Card -->
<div class="card mx-xl-5">

  <!-- Card body -->
  <div class="card-body">

    <!-- Default form subscription -->
    <form>
      <h1 style="text-align: center;">Additional Info.</h1>

      <!-- Default input name -->
      <label for="materialRegisterFormPhone" class="grey-text font-weight-light">Phone No.*</label>
      <input type="text" name = "phone" id="materialRegisterFormPhone" class="form-control">

      <br>

      <!-- Default input email -->
      <label for="defaultFormCardSubjectEx" class="grey-text font-weight-light">Address</label>
      <input type="text" name="address" id="defaultFormCardMessageEx" class="form-control">

      <div class="text-center py-4 mt-3">
        <button class="btn btn-outline-purple" type="submit">Submit<i
            class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
    </form>
    <!-- Default form subscription -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->


</form>





</div>

{% endblock %}